body {
    background-color: #ffffff;
    margin: 0;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 50px auto 40px auto;
    width: 600px;
    text-align: center;
}

h1 {
    /*width: 800px;*/
    /*position: relative;*/
    /*left: -100px;*/
    letter-spacing: 0.5rem;
    /*line-height: 60px;*/
    /*font-size: 1rem;*/
    /*font-weight: 100;*/
    margin: 0px 0 3rem 0;
}

p {
    /*margin: 20px 0;*/
    line-height: 1.5;
    font-size: 0.8rem;
}

.dot:before{
    content: "•";
    color: black;
    /*font-size: 1rem;*/
}

/*a {
    color: #2980b9;
    font-weight: Bolder;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}*/


a {
    color: white;
    text-decoration: none;
    -webkit-filter: brightness(50%);
    /*font-size: 1rem;*/
}

a:hover {
  -webkit-filter: grayscale(100%);
  -webkit-filter: brightness(30%);
}


@media (min-width: 320px) {
    html {
        font-size: 15px;
    }
}


@media (min-width: 320px) and (orientation: landscape) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 589px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 733px) {
    html {
        font-size: 25;
    }
}

@media (min-width: 870px) {
    html {
        font-size: 25;
    }
}
