body {
    background-color: #ffffff;
    margin: 0;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 50px auto 40px auto;
    width: 600px;
    text-align: center;
}

h1 {
    width: 800px;
    position: relative;
    left: -100px;
    letter-spacing: -1px;
    line-height: 60px;
    /*font-size: 60px;*/
    font-weight: 100;
    margin: 0px 0 50px 0;
}

p {
    margin: 20px 0;
    line-height: 1.6;
}

/*a {
    color: #2980b9;
    font-weight: Bolder;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}*/


a {
    color: white;
    text-decoration: none;
    -webkit-filter: brightness(50%);
    /*font-size: 1rem;*/
}

a:hover {
  -webkit-filter: grayscale(100%);
  -webkit-filter: brightness(30%);
}


@media (min-width: 320px) {
    html {
        font-size: 15px;
    }
}


@media (min-width: 320px) and (orientation: landscape) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 589px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 733px) {
    html {
        font-size: 25;
    }
}

@media (min-width: 870px) {
    html {
        font-size: 25;
    }
}
