html {
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: black;
    text-decoration: none;
    font-size: 0.6rem;
}


a {
    color: black;
    text-decoration: none;
    opacity: 0.5;
    font-size: 0.6rem;
}

a:hover {
    opacity: 1;
    text-decoration: underline;
}

@media (min-width: 320px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 320px) and (orientation: landscape) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 589px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 733px) {
    html {
        font-size: 25px;
    }
}

@media (min-width: 870px) {
    html {
        font-size: 30px;
    }
}
