html {
    font-family: 'Raleway', sans-serif;
}

.slash:before {
    content: " / ";
    color: black;
}

.dot:before{
    content: "•";
    color: black;
    font-size: 0.5rem;
}

a.linkPages {
    color: white;
    text-decoration: none;
    -webkit-filter: brightness(50%);
    font-size: 0.5rem;
}

a.linkPages:hover {
    -webkit-filter: brightness(30%);
}

a.linkSocial {
    color: black;
    -webkit-filter: brightness(50%);
    font-size: 0.5rem;
}

a.linkSocial img {
    height: 0.8rem;
    margin: 0.5rem;
}

a.linkSocial:hover {
    -webkit-filter: brightness(30%);
}

#top {
    margin-top: 3rem;
}

#bop {
    font-size: 0.85rem;
}

/*nav {*/
    /*line-height:30px;*/
    /*height:300px;*/
    /*width:100px;*/
    /*float: right;*/
    /*margin: 0rem 3rem;*/
    /*padding: -2rem 2rem;*/
    /*text-align: right;*/
/*}*/

section {
    margin: 4rem;
    line-height: 1.6;
    text-align:center;
}

footer {
    text-align:center;
}

@media (min-width: 320px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 320px) and (orientation: landscape) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 589px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 733px) {
    html {
        font-size: 25px;
    }
}

@media (min-width: 870px) {
    html {
        font-size: 30px;
    }
}
