.home-container {
  background: hsla(0, 0%, 0%, 1) 99%;
  text-align: center;
  width: 100%;
}

.wrapper {
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
} 

.canvas {
  position: absolute;
  top: 0;
}

.heading {
  position: absolute;
  top: 20vh;
  font-size: 4rem;
  width: 100%;
  letter-spacing: -0.2rem;
  font-family: 'Noto Sans', sans-serif;
}

.subheading {
  position: absolute;
  top: 32vh;
  font-size: 1rem;
  width: 100%;
  letter-spacing: -0.05rem;
  color: hsla(0, 0%, 0%, 0);
  font-family: 'Fira Code', monospace;
}

@media (max-width: 1000px) {
  .home {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  .heading {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
  }

  .subheading {
    font-size: 1rem;
  }
}
