[data-md-color-scheme="slate"] {
  --md-hue: 220;
}

[data-md-color-scheme="slate"][data-md-color-primary="black"][data-md-color-accent="red"] {
  --md-typeset-a-color: #ff5252;
}

[data-md-color-scheme="default"][data-md-color-primary="black"][data-md-color-accent="light-blue"] {
  --md-typeset-a-color: #0277bd;
}

.md-typeset pre {
  background-color: var(--md-code-bg-color);
}

img#card {
  transform: scale(0.95);
}

img#card:hover {
  transform: scale(1);
  transition: .25s;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.8);
}
